

  <!doctype html>
  <html ng-app="appointmentApp">
    <head>
      <title>MEAN Assistant</title>
        <!--*************************** Styles ******************************* -->
        <!-- CSS custom -->
        <link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
        <!-- CSS CDNs -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet">

        <!--**************************** Scripts ***************************** -->
        <!-- JS CDNs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js" charset="utf-8"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js" charset="utf-8"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>


        <!-- JS custom -->
        <script src="/js/controllers/api/tasks_controller.js" charset="utf-8"></script>
        <script src="/js/datetimepicker.js"></script>
        <script src="/js/app.js" charset="utf-8"></script>
    </head>
<body>
  <!-- navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/profile">Gnomon</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">

  <li><a href="/contacts"><span class="fa fa-book"></span> Contacts</a><span class="hover"></span></li>
  <li><a href="/tasks"><span class="fa fa-check-square"></span> Tasks</a><span class="hover"></span></li>
  <li><a href="/profile"><span class="fa fa-user"></span> Profile</a><span class="hover"></span></li>
  <li id="logout"><a href="/logout"><span class="fa fa-check-user"></span> Logout</a><span class="hover"></span></li>
  <li><input id="search"type="text" name="taskSearch" value="" ng-model="searchBox" placeholder="search"></li>
</ul>
</div>
</div>
</nav>

<div class="page-header text-center" id="user-welcome">

</div>
  <section ng-controller="TasksController">


      <div ng-controller="AccordionDemoCtrl" class="container">

      <uib-accordion close-others="oneAtATime">
          <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
              <i class="fa fa-plus"></i> New Task <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>


      <!--
       =====================================================================================
       *************************************  FORM   ***************************************
       =====================================================================================
       -->
        <div class="well">
          <form ng-submit="createTask()" class="form-horizontal">
            <!-- first name  -->
            <div class="form-group">
              <label for="task-title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input ng-model="newTask.title" type="text" class="form-control" id="task-title" placeholder="Name the Task">
              </div>
            </div>
            <!-- last name  -->
            <div class="form-group">
              <label for="task-notes" class="col-sm-2 control-label">Last Name</label>
              <div class="col-sm-10">
                <input ng-model="newTask.notes" type="text" class="form-control" id="task-notes" placeholder="Notes">
              </div>
            </div>


              <div class="col-sm-5">
                <button type="submit" class="btn btn-lg btn-success" id="submit-btn">Submit</button>
              </div>
        </form>

            </div>


        </uib-accordion-group>
        </uib-accordion>
        </div>
      <!--
       =====================================================================================
       ********************************** END FORM   ***************************************
       =====================================================================================
       -->

        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <h2>Taskss!</h2>
            </div>
          </div>
        <div ng-repeat="task in tasks | filter: searchBox" class="well">

          <div class="row">
            <ul class="todolist">
  <li class="task">
    <input type="checkbox" id="task1" />
    <label for="task1">{{ task.title }} | {{ task.notes }}</label>
    <button ng-click="deleteTask($index)" class="btn btn-danger" id="btn-delete"><i class="fa fa-trash-o"></i></button>
  </li>
</ul>
            <!-- <ul>
              <li>
                <h3><strong>{{ task.title }} </strong></h3>

                <p>
                  {{ task.notes }}

                <button ng-click="deleteTask($index)" class="btn btn-danger" id="btn-delete"><i class="fa fa-trash-o"></i></button>

              </li>
            </ul> -->

          </div>
        </div>

    </div>

  </section><!-- end tasks controller -->
</body>

    <Task
